 body{
            margin: 0;
            height: 100vh;
           

        }
        .cursor {
              width: 10px;
              height: 10px;
              border: 1px solid rgb(255, 3, 3);
            
              background-color: rgb(0, 0, 0);
              border-radius: 50%;
             border-width: 5px;
              position: absolute;
              transition-duration: 150ms;
              transition-timing-function: ease-out ;
              animation: cursorAnim .3s infinite alternate;
        }
         .cursor::after {
              content: "";
              width: 10px;
              height: 10px;
              border: 1px solid rgb(249, 0, 0);
               position: absolute;
              background-color: rgb(0, 0, 0);
              border-radius: 50%;
             border-width: 5px;
             opacity: .5;
             top: -5px;
             left: -5px;
              animation: cursorAnim2 .3s infinite alternate;
         }
         @keyframes  cursorAnim {
           from{
            transform: scale(1);
           }
           to{
            transform: scale(.8);
           }
         }
          @keyframes  cursorAnim2 {
           from{
            transform: scale(1);
           }
           to{
            transform: scale(.4);
           }

         }
          @keyframes  cursorAnim3 {
           0%{
            transform: scale(1);
           }
           50%{
            transform: scale(3);
           }
           100%{
            transform: scale(1);
            opacity: 0;
           }


         }



         .expand{
            animation:  cursorAnim3 .3s forwards;
            border:  1px solid rgb(210, 10, 10);
         }